<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Gopher Unit testng">
	<listeners>
		<listener class-name="com.echostar.gopher.selenium.TestsListenerAdapter"/>
		<listener class-name="com.echostar.gopher.testng.SuiteListenerAdaptor"/>
	</listeners>
	<suite-files>
		<suite-file path="Persistence_Suite.xml"/>
	</suite-files>
</suite>